<template>
  <div>
    <v-form>
      <div class="signup-form-inputfields">
        <v-text-field
          label="Username"
          v-model="name"
        ></v-text-field>
        <v-text-field
          label="Password"
          v-model="pword"
          type="password"
        ></v-text-field>
        <v-text-field
          label="Enter password again"
          v-model="repword"
          type="password"
        >
        </v-text-field>
      </div>
      <div class="signup-form-buttons-container">
        <v-btn
          class="signup-form-buttons-signup"
          @click="onClickSignup">Sign up</v-btn>
        <v-btn
          class="signup-form-buttons-cancel"
          @click="$router.push('/login')">Cancel</v-btn>
      </div>
    </v-form>
  </div>
</template>

<script>
// import loginService from '../../services/login';

export default {
  data() {
    return {
      name: null,
      pword: null,
      repword: null,
    };
  },

  methods: {
    onClickSignup() {
    },
  },
};
</script>

<style scoped>
  .signup-form-buttons-signup {
    float: right;
  }
</style>
