<template>
  <div class="login-form-container">
    <v-card class="login-form-vcard">
      <v-card-title
        class="headline text-uppercase login-form-title"
      >
        Login
      </v-card-title>
      <LoginForm
        class="login-form"
      ></LoginForm>
    </v-card>
  </div>
</template>

<script>
import LoginForm from '../components/Login/LoginForm.vue';

export default {
  components: {
    LoginForm,
  },
};
</script>

<style scoped>
  .login-form-container {
    display: flex;
    height: 100%;
    justify-content: center;
  }

  .login-form-vcard {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 500px;
    height: min-content;
  }

  .login-form {
    padding: 5%;
  }

  .login-form-title {
    background-color: #8eba00;
    color: white;
  }
</style>
