<template>
  <div>
    <div>
      <v-btn
        dark
        color="#8eba00"
        class="open-add-batch-form-button"
        @click="onAddBatchButton()"
        v-if="!addBatchForm"
      >
        <v-icon>mdi-plus</v-icon>
      </v-btn>
    </div>
    <div
      class="addBatch-form-container"
      v-if="addBatchForm"
    >
      <v-btn
        class="close-add-batch-form-button"
        @click="onCloseAddBatchButton"
      >
        <v-icon>mdi-close</v-icon>
      </v-btn>
      <v-form class="addBatch-form">
        <v-text-field
          label="Name"
          clearable
          v-model="batchForm.name"
        >
        </v-text-field>
        <v-btn
          @click="onAddNewBatchItem"
        >Add new item</v-btn>
        <div
          v-for="(item, i) in batchForm.items"
          :key="i"
          class="addBatch-form__batch-item"
        >
          <v-text-field
            v-model="batchForm.items[i]"
            clearable
          >
          </v-text-field>
          <v-btn
            icon
            @click="onDeleteBatchFormItem(i)"
          >
            <v-icon>mdi-delete</v-icon>
          </v-btn>
        </div>
        <v-btn
          class="add-batch-button"
          @click="onSaveBatch"
          color="#8eba00"
          dark
        >Save</v-btn>
      </v-form>
    </div>
    <v-list>
      <v-subheader>Reseptit</v-subheader>
      <v-list-item-group>
        <v-list-group
          v-for="(item, i) in items"
          :key="i"
        >
          <template v-slot:activator>
            <v-list-item-content>
              <v-list-item-title v-text="item.name">
              </v-list-item-title>
            </v-list-item-content>
            <v-list-item-action>
              <v-btn
                icon
                @click="onDeleteBatch(item.id, $event)"
              >
                <v-icon>mdi-delete</v-icon>
              </v-btn>
            </v-list-item-action>
            <v-list-item-action>
              <v-btn
                icon
                @click="onAddBatchItemsToShoppingList(i, $event)"
              >
                <v-icon>mdi-plus</v-icon>
              </v-btn>
            </v-list-item-action>
          </template>
          <v-list-item
            v-for="child in item.items"
            :key="child"
          >
            <v-list-item-content>
              <v-list-item-subtitle v-text="child"></v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-list-group>
      </v-list-item-group>
    </v-list>
  </div>
</template>

<script>
import shoppinglistService from '../services/shoppinglist';

export default {
  data() {
    return {
      items: [],
      addBatchForm: false,
      batchForm: {
        name: '',
        items: [],
      },
      successAddingToShoppingList: false,
    };
  },

  async created() {
    this.items = await shoppinglistService.getBatches();
  },

  methods: {
    onAddBatchButton() {
      this.addBatchForm = true;
    },
    onCloseAddBatchButton() {
      this.addBatchForm = false;
    },
    onAddNewBatchItem() {
      this.batchForm.items.push('New item');
    },
    onDeleteBatchFormItem(index) {
      this.batchForm.items.splice(index, 1);
    },
    clearBatchForm() {
      this.batchForm.name = '';
      this.batchForm.items = [];
    },
    async onSaveBatch() {
      const result = await shoppinglistService.postBatch({ batch: this.batchForm });
      if (result !== 'Error') {
        this.items.push(result);
        this.clearBatchForm();
      }
    },
    async onDeleteBatch(id, event) {
      event.stopPropagation();
      const result = await shoppinglistService.deleteBatch({ id });
      if (result !== 'Error') {
        this.items = this.items.filter((item) => item.id !== result.id);
      }
    },
    async onAddBatchItemsToShoppingList(index, event) {
      event.stopPropagation();
      const result = await shoppinglistService.postItems(this.items[index].items);
      if (result !== 'Error') {
        this.successAddingToShoppingList = true;
        setTimeout(this.successAddingToShoppingList = false, 5000);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
  .open-add-batch-form-button {
    float: right;
  }
  .close-add-batch-form-button {
    float: right;
  }
  .add-batch-button {
    float: right;
  }
  .addBatch-form {
  }
  .addBatch-form-container {
    background-color: #c2dfdf;
    padding: 2%;
  }
  .addBatch-form__batch-item {
    display: flex;
  }
</style>
