<template>
  <div class="home-grid-container">
    <ShoppingList class="shopping-list" />
  </div>
</template>

<script>
import ShoppingList from '../components/ShoppingList/ShoppingList.vue';

export default {
  components: {
    ShoppingList,
  },
};
</script>

<style scoped>
  .home-grid-container {
    /* display: grid; */
    height: 100%;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr */
  }

  .shopping-list {
    /**grid-column-start: 2;
    grid-column-end: 6;*/
    padding: 5%;
  }
</style>
