<template>
  <div class="signup-form-container">
    <v-card class="signup-form-vcard">
      <v-card-title
        class="headline text-uppercase signup-form-title"
      >
        Signup
      </v-card-title>
      <SignupForm
        class="signup-form"
      ></SignupForm>
    </v-card>
  </div>
</template>

<script>
import SignupForm from '../components/Signup/SignupForm.vue';

export default {
  components: {
    SignupForm,
  },
};
</script>

<style scoped>
  .signup-form-container {
    display: flex;
    height: 100%;
    justify-content: center;
  }

  .signup-form-vcard {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 500px;
    height: min-content;
  }

  .signup-form {
    padding: 5%;
  }

  .signup-form-title {
    background-color: #8eba00;
    color: white;
  }
</style>
