<template>
  <div class="home-grid-container">
    <TodoList class="home-list"/>
  </div>
</template>

<script>
import TodoList from '../components/Home/TodoList.vue';

export default {
  components: {
    TodoList,
  },
};
</script>

<style scoped>
  /* .home-grid-container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr
  } */
</style>
