<template>
  <div>
    <DynamicForm
      v-bind:formObject="formObject"
      v-on:cancel_clicked="onFormCancelClicked"
      v-on:accept_clicked="onFormAcceptClicked"
    />
  </div>
</template>

<script>
import DynamicForm from '../common/DynamicForm.vue';

export default {
  components: {
    DynamicForm,
  },
  props: {
    formObject: {
      type: Object,
      required: true,
    },
  },

  data() {
    return {};
  },

  methods: {
    onFormAcceptClicked(event) {
      this.$emit('accept_clicked', event);
    },
    onFormCancelClicked() {
      this.$emit('cancel_clicked');
    },
  },
};
</script>
<style scoped>

</style>
