<template>
  <div class="list-container">
    <div class="list-container__menu-header">
      <v-dialog v-model="dialog" width="600">
        <template v-slot:activator="{ on, attrs }">
          <v-btn v-bind="attrs" v-on="on">
            <v-icon>mdi-menu</v-icon>
          </v-btn>
        </template>
        <ShoppingListMenu />
      </v-dialog>
      <v-dialog v-model="itemDialog" width="600">
        <ModifyItemDialog
          v-bind:formObject="doubleClickedItem"
          v-on:cancel_clicked="onModifyItemCancel"
          v-on:accept_clicked="onModifyItemAccept"
        />
      </v-dialog>
    </div>
    <v-form class="input-form">
      <div class="input-form-input-wrapper">
        <v-text-field
          class="input-form-input"
          v-model="quickAddText"
          label="Quick add"
          clearable
        ></v-text-field>
        <v-select
          v-model="selectedStore"
          :items="allStores"
          item-text="name"
          return-object
        ></v-select>
        <v-btn
          class="input-button"
          color="#8eba00"
          @click="onAdd"
          >ADD</v-btn>
      </div>
    </v-form>
    <v-data-table
      @dblclick:row="onRowDblClicked"
      :headers="headers"
      :items="list"
      hide-default-footer
      disable-sort
      disable-filtering
      disable-pagination
      mobile-breakpoint="300"
      class="elevation-1">
      <template v-slot:[`item.actions`]="{ item }">
        <v-icon @click="onDelete(item.id)">
          mdi-delete
        </v-icon>
      </template>
    </v-data-table>
  </div>
</template>

<script>
import { getStores } from '../../services/store';
import shoppinglistService from '../../services/shoppinglist';
import ShoppingListMenu from './ShoppingListMenu.vue';
import ModifyItemDialog from './ModifyItemDialog.vue';
import { setOnMessage } from '../../utils/common/wSocket';

export default {
  components: {
    ShoppingListMenu,
    ModifyItemDialog,
  },

  data() {
    return {
      list: [],
      quickAddText: '',
      dialog: false,
      itemDialog: false,
      doubleClickedItem: {},
      headers: [
        { text: 'Item', value: 'name' },
        { text: 'Actions', value: 'actions', sortable: false },
      ],
      // stores
      allStores: [],
      selectedStore: {},
    };
  },
  async created() {
    this.retrieveItems();
    this.retrieveStores();
    this.setupWebSocket();
  },
  methods: {
    setupWebSocket() {
      const webSocket = new WebSocket('ws://127.0.0.1:3030'); // getWebSocket();
      setOnMessage(this.retrieveItems, webSocket);
      // webSocket.onopen = () => webSocket.send('Testing WebSocket');
    },
    async retrieveItems() {
      const result = await shoppinglistService.getItems();
      this.list = result;
    },
    async retrieveStores() {
      const stores = await getStores();
      this.allStores = stores;
      [this.selectedStore] = stores;
    },
    async onAdd() {
      const result = await shoppinglistService.postItems({
        name: this.quickAddText,
        store: this.selectedStore.id,
      });

      if (result !== 'Error') {
        result.forEach((r) => this.list.push(r));
      }
    },

    async onDelete(id) {
      const result = await shoppinglistService.deleteItem({ id });
      if (result !== 'Error') {
        this.list = this.list.filter((item) => item.id !== result.id);
      }
    },

    async onRowDblClicked(event, data) {
      const item = await shoppinglistService.getItem(data.item.id);
      if (item === 'Error') return;
      this.doubleClickedItem = item;
      this.itemDialog = !this.itemDialog;
    },

    sortItemsByStore(items) {
      if (!Array.isArray(items)) return [];
      const sortedItems = [];
      // We should find all different Stores and create own accordions for each.
      // The items having the corresponding 'store' property go only in their
      // own accordions.
      // There should also be a toggle to switch to a continuous list that does
      // not care about or show the stores. (eg. the basic list representation).
      return sortedItems;
    },

    onModifyItemCancel() {
      this.itemDialog = !this.itemDialog;
    },
    async onModifyItemAccept(data) {
      this.itemDialog = !this.itemDialog;

      await shoppinglistService.updateItem({
        id: data._id, // eslint-disable-line
        item: data,
      });

      await this.retrieveItems();
    },
  },
};
</script>

<style scoped>
  .list-container {
    background-color: #c2dfdf;
  }

  .input-form {

  }

  .input-form-input-wrapper {
    display: flex;
    background-color: #c2dfdf;
  }

  .input-button {
    color: white;
  }

  .row-delete-icon-columns {
    width: 5%;
  }
</style>
