<template>
  <div class="shoppinglist-menu">
    <v-card
      elevation="2"
      outlined
    >
    <v-card-title>Add new Stores</v-card-title>
      <v-form>
        <v-text-field
          v-model="storeName"
          label="Add store"
          clearable
        >
          <v-btn
            color="#8eba00"
            @click="onAddStore"
            slot="append"
          >
            ADD
          </v-btn>
        </v-text-field>
      </v-form>
      <v-form>
        <v-select
          v-model="selectedStore"
          :items="allStores"
          item-text="name"
        ></v-select>
      </v-form>
    </v-card>
  </div>
</template>

<script>
import { addStore, getStores } from '../../services/store';

export default {
  data() {
    return {
      storeName: '',
      storeLocation: '',
      storePostalCode: '',
      allStores: [],
      selectedStore: {},
    };
  },

  async created() {
    this.retrieveStores();
  },

  methods: {
    async onAddStore() {
      const result = await addStore({
        name: this.storeName,
        location: this.storeLocation,
        postalCode: this.storePostalCode,
      });
      this.allStores.push(result);
    },

    async retrieveStores() {
      const stores = await getStores();
      this.allStores = stores;
      [this.selectedStore] = stores;
    },
  },
};
</script>

<style scoped>

</style>
