<template>
    <v-card>
      <v-card-title
        class="headline text-uppercase list-dialog-title"
      >
        Add new task
      </v-card-title>
      <div class="list-addtask-form-container">
        <v-form>
          <v-text-field
            label="Task label"
            v-model="task.label"
          ></v-text-field>
          <v-text-field
            label="Task priority"
            v-model="task.priority"
          ></v-text-field>
          <v-text-field
            label="Task description"
            v-model="task.description"
          ></v-text-field>
          <div class="list-addtask-buttons-container">
            <v-btn
              class="list-addtask-cancel"
              @click="onCancelClick"
            >Cancel</v-btn>
            <v-btn
              class="list-addtask-add"
              @click="onClickAddTask"
            >Add</v-btn>
          </div>
        </v-form>
      </div>
    </v-card>
</template>

<script>
import taskService from '../../services/task';

export default {
  data() {
    return {
      key: 'value',
      task: {
        label: '',
        priority: 0,
        description: '',
      },
    };
  },
  methods: {
    onCancelClick() {
      this.$emit('closeDialog');
    },
    async onClickAddTask() {
      const result = await taskService.postTask(this.task);
      if (typeof result === 'string' && result === 'Error') {
        // TODO: add snackbar to inform of failed addition
        return;
      }
      this.$emit('onClickAddTask', result);
    },
  },
};
</script>

<style scoped>
  .list-dialog-title {
    background-color: #8eba00;
    color: white;
  }

  .list-addtask-form-container {
    padding: 5%;
  }

  .list-addtask-buttons-container .list-addtask-add {
    float: right;
  }
</style>
