<template>
    <v-navigation-drawer permanent>
      <v-toolbar flat>
        <!-- <v-toolbar-title>
          <span>User Name Here</span>
        </v-toolbar-title> -->
      </v-toolbar>
      <div>
        <span
          class="font-weight-light"
          @click="$router.push('/shopping')">
          Kauppalappu
        </span>
      </div>
      <div>
        <span
          class="font-weight-light"
          @click="$router.push('/batch')">
          Reseptit
        </span>
      </div>
      <div>
        <span
          class="font-weight-light"
          @click="$router.push('/tasks')">
          TODO-LIST
        </span>
      </div>
    </v-navigation-drawer>
</template>

<script>
export default {
  data() {
    return {
      current: 0,
    };
  },
};
</script>

<style lang="scss" scoped>
  div:nth-child(odd) {
    background-color: rgb(241, 241, 241);
  }
</style>
