<template>
  <div>
    <template>
      <v-card>
        <v-card-title>{{ item.label }}</v-card-title>
        <v-card-actions>
          <v-btn
            v-if="item.done"
            icon
            text
            @click.native.stop="onDeleteClick"
          >
            <v-icon>mdi-delete-forever</v-icon>
          </v-btn>
          <v-switch
            v-model="item.done"
            color="success"
            @click.native.stop="onSwitchClick"
          />
        </v-card-actions>
        <v-card-text class="grey lighten-5">
          {{ item.description }}
        </v-card-text>
      </v-card>
    </template>
  </div>
</template>

<script>
import taskService from '../../services/task';

export default {
  data() {
    return {
      done: false,
    };
  },
  props: {
    item: {
      type: Object,
      required: true,
    },
  },
  methods: {
    async onSwitchClick() {
      const result = await taskService.updateTask({
        id: this.item.id,
        task: {
          done: this.item.done,
        },
      });
      console.log('result', result);
      if (result !== 200) {
        this.item.done = !this.item.done;
      }
    },
    onDeleteClick() {
      this.$emit('deleteItem', this.item.id);
    },
  },
};
</script>

<style scoped>
  .todoitem-expansion-panel-controls-container {
    float: right;
    height: 25px;
  }

  .todoitem-expansion-panel-deletebutton-container {
    padding-right: 20px;
    float: left;
  }

  .todoitem-expansion-panel-deletebutton {
    margin-top: 0px;
    margin-right: 0px;
  }

  .todoitem-expansion-panel-deletebutton:hover {
    color: red;
  }

  .todoitem-expansion-panel-done-switch {
    float: right;
    margin: 0;
    padding: 0;
    height: 25px;
  }

  .todoitem-done-status {
    float: right;
    padding-right: 1%;
  }
</style>
