<template>
  <div class="list-container">
    <v-toolbar>
      <v-dialog
        v-model="dialog"
        width="500"
      >
        <!-- <template v-slot:activator="{ on }"> -->
        <template>
          <v-tooltip top>
            <template v-slot:activator="{ on }">
            <v-btn
              text
              icon
              v-on="on"
              @click="dialog = true"
            >
              <v-icon>mdi-plus-thick</v-icon>
            </v-btn>
            </template>
            <span>Add a new task</span>
          </v-tooltip>
        </template>
        <AddTaskDialog
          v-if="dialog"
          @closeDialog="dialog = false"
          @onClickAddTask="onAddTask"
        >
        </AddTaskDialog>
      </v-dialog>
      <v-spacer/>
      <v-tooltip top>
        <template v-slot:activator="{ on }">
          <v-btn
            text
            icon
            v-on="on"
            @click="onClickMenuButton"
          >
            <v-icon>{{ menuIcon }}</v-icon>
          </v-btn>
        </template>
        <span>Open menu</span>
      </v-tooltip>
    </v-toolbar>
    <v-data-iterator
      :items="list"
    >
      <TodoItem
        v-for="(item, index) in list"
        :item="item"
        :index="index"
        :key="index"
        @deleteItem="onDeleteItem"
      />
    </v-data-iterator>
  </div>
</template>

<script>
import TodoItem from './TodoItem.vue';
import taskService from '../../services/task';
import AddTaskDialog from './AddTaskDialog.vue';
import { MENU_ICON } from '../../utils/constants/icons';

export default {
  components: {
    TodoItem,
    AddTaskDialog,
  },
  data() {
    return {
      dialog: false,
      // contains all the TodoItems
      task: {
        label: '',
        priority: 0,
        description: '',
      },
      list: [
        // These are just placeholder data for testing purposes. Remove when in prod.
        {
          id: 'String',
          priority: 'Number',
          label: 'Develop TODO app',
          description: 'Create a todo app to keep track of stuff.',
          done: false,
        },
        {
          id: 'String',
          priority: 'Number',
          label: 'Item number two',
          description: 'Just some placeholder text.',
          done: true,
        },
      ],
      // contains the filtered version of the list that will be shown
      filteredList: [],
      // contains all the filters that affect what is shown
      filters: {
        done: false,
      },
      menuIcon: MENU_ICON,
    };
  },
  async created() {
    await this.fetchTodoItems();
    this.filteredList = this.list;
  },
  methods: {
    // TODO: Figure this out, probably should query backend for filtered batch of items
    filterList() {
      this.filteredList = this.list
        .filter((item) => item.done === this.filters.done);
    },
    async onAddTask(result) {
      this.dialog = false;
      this.list.push(result);
      this.filteredList = this.list;
    },
    onClickMenuButton() {
      console.log('open menu');
      this.dialog = !this.dialog;
    },
    async onDeleteItem(id) {
      const result = await taskService.deleteTask({ id });
      if (result === 'Success') {
        this.list = this.list.filter((item) => item.id !== id);
        // this.filterList();
        this.filteredList = this.list;
      }
    },
    async fetchTodoItems() {
      let user = localStorage.getItem('user');
      if (user) {
        user = JSON.parse(user).id;
      } else {
        return;
      }
      const result = await taskService.getTasks(user);
      if (result !== 'Error') {
        this.list = result;
      }
    },
  },
};
</script>

<style scoped>
  .list-container {
    background-color: #c2dfdf;
  }

  .list-expansion-panel {
    padding: 5%;
    background-color: #f5f5f5;
  }
</style>
