<template>
  <div class="form-container">
    <v-form>
      <div class="form-inputs">
        <v-text-field
          v-for="field in fields"
          :key="field.label"
          v-bind:label="field.label"
          v-model="objectModel[field.label]"
        ></v-text-field>
      </div>
      <div class="form-buttons">
        <v-btn @click="$emit('cancel_clicked')">{{ cancelBtnText || "Cancel" }}</v-btn>
        <v-btn @click="$emit('accept_clicked', objectModel)">{{ acceptBtnText || "Accept" }}</v-btn>
      </div>
    </v-form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      fields: [],
      objectModel: {},
    };
  },
  props: {
    formObject: {
      type: Object,
      required: true,
    },
    acceptBtnText: String,
    cancelBtnText: String,
  },
  watch: {
    formObject(newFormObject) {
      this.createObjectModelForForm(newFormObject);
      this.createFormBasedOnObject(newFormObject);
    },
  },

  created() {
    this.createObjectModelForForm(this.formObject);
    this.createFormBasedOnObject(this.formObject);
  },

  methods: {
    createFormBasedOnObject(object) {
      this.fields = [];
      this.fields = Object.keys(object).map((key) => ({
        label: key,
        value: object[key],
      }));
    },
    createObjectModelForForm(object) {
      this.objectModel = {};
      Object.keys(object).forEach((key) => {
        this.objectModel[key] = object[key];
      });
    },
  },
};
</script>
<style scoped>
  .form-container {
    background-color: white;
    padding: 10%;
  }
</style>
