<template>
  <div>
    <v-form>
      <div class="login-form-inputfields">
        <v-text-field
          label="Username"
          v-model="name"
        ></v-text-field>
        <v-text-field
          label="Password"
          v-model="pword"
          type="password"
        ></v-text-field>
      </div>
      <div class="login-form-buttons-container">
        <v-btn
          class="login-form-buttons-login"
          @click="onClickLogin">Login</v-btn>
        <v-btn
          class="login-form-buttons-signup"
          @click="onClickSignup">Sign up</v-btn>
      </div>
    </v-form>
  </div>
</template>

<script>
import loginService from '../../services/login';

export default {
  data() {
    return {
      name: null,
      pword: null,
    };
  },

  methods: {
    async onClickLogin() {
      const response = await loginService.postLogin({
        username: this.name, password: this.pword,
      });
      if (typeof response === 'string' && response === 'Error') {
        return;
      }
      localStorage.setItem('token', JSON.stringify(response.token));
      localStorage.setItem('user', JSON.stringify(response.user));
      this.$router.push('/shopping');
    },
    onClickSignup() {
      this.$router.push('/signup');
    },
  },
};
</script>

<style scoped>
  .login-form-buttons-login {
    float: right;
  }
</style>
