<template>
  <v-app>
    <v-app-bar app color="#8eba00">
      <v-toolbar-title class="headline text-uppercase">
        <v-btn
          text
          dark
          @click="sideBar = !sideBar"
        >
          <v-icon dark>
            mdi-format-list-bulleted-square
          </v-icon>
        </v-btn>
        <span>{{ name }}</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn
        text
        dark
        @click="$router.push('/login')"
      >
        <span class="mr-2">Login/Out</span>
      </v-btn>
    </v-app-bar>
    <v-main>
      <v-container class="main-view-container">
        <v-layout row>
          <v-flex xs3>
            <SideBar v-if="sideBar" class="home-sidebar" />
          </v-flex>
          <v-flex xs8>
            <router-view class="router-view"/>
          </v-flex>
        </v-layout>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import SideBar from './components/Home/SideBar.vue';

export default {
  name: 'App',

  components: {
    SideBar,
  },
  data() {
    return {
      name: '',
      sideBar: false,
    };
  },
  created() {
    this.name = localStorage.getItem('user')
      ? JSON.parse(localStorage.getItem('user')).username
      : '';
  },

};
</script>

<style scoped>
  body {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    height: 100vh;
  }

  .headline {
    color: white;
  }

  /* .main-view-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .home-sidebar {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .router-view {
    grid-column-start: 3;
    grid-column-end: 6;
  } */
</style>
